<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front-Ender shelf</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-grid-3.3.1.min.css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<header>
    <div id="header-login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="loginForm" method="post" action="/login" >
                        <div>
                            <label for="loginName">Login: </label>
                            <input name="loginName" id="loginName" type="text" placeholder="Login">
                            <label for="loginPassword">Password: </label>
                            <input name="loginPassword" id="loginPassword" type="password" placeholder="Password">

                            <button id="login-button" type="submit">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <div><img src="" alt="" id="coverImagePreShow"></div>
                </div>
                <div class="col-md-10">
                    <div id="books">
                        <div id="status"></div>
                        <form id="addBook" enctype="multipart/form-data" method="post" action="/api/photos" >
                            <div>
                                <label for="coverImage">CoverImage: </label>
                                <input name="coverImage" id="coverImage" type="file"/>
                                <input id="coverImagePath" type="hidden"/>
                                <label for="title">Title: </label><input id="title" type="text"/>
                                <label for="author">Author: </label><input id="author" type="text"/>
                                <label for="releaseDate">Release date: </label><input id="releaseDate" type="text"/>
                                <label for="keywords">Keywords: </label><input id="keywords" type="text"/>
                                <button id="add">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="booksList"></div>
            </div>
        </div>
    </div>
</main>

<footer></footer>

<script id="bookTemplate" type="text/template">
    <img src="<%= coverImage %>" alt=""/>
    <ul>
        <li><%= title %></li>
        <li><%= author %></li>
        <li><%= $.dateMonthAndYear(releaseDate) %></li>
        <li><% _.each( keywords, function( keyobj ) {%>
            <%= keyobj.keyword %><% } ); %></li>
    </ul>
    <button id="delete">Delete</button>
</script>

<script src="js/libs/jquery/jquery.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js'></script>
<script src="js/libs/jquery/jquery-ui.min.js"></script>
<script src="js/libs/underscore/underscore.js"></script>
<script src="js/libs/backbone/backbone.js"></script>

<script src="js/models/book.js"></script>
<script src="js/collections/library.js"></script>
<script src="js/views/book.js"></script>
<script src="js/views/library.js"></script>
<script src="js/app.js"></script>
</body>
</html>